.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.logo{
    width: 30%;
}

.logo img{
    width: 150px;
    height: 150px;
}

.nomeOng h3{
    margin-top: 10px;
    font-size: 1.3rem;
    margin-left: 1.2%;
}

.bemvindo{
    display: flex;
    flex-direction: row;
    width: 70%;
}

.bemvindo p{
    font-size: 1.3rem;
    margin-left: 25%;
    margin-top: 10px;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-style: wavy;
}

